{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap4/css/signin.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
  <form class="form-signin" method="post" action="">
     <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
     {% csrf_token %}
     {{form.as_p}}
     <input type="hidden" name="next" value="/" />
     <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
     <a href="{% url 'signup' %}">Register</a></br>
     <a  href="{% url 'password_reset' %}">Forgot password</a>
     <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
   </form>
  </body>
</html>
